<div class="card" *ngIf="infoscluster">
  afficher liste des plugins installé dans élasticearch
  <div class="card-header">
    <h5><i class="fa fa-server"> Appercu du Cluster</i></h5>
  </div>
  <div class="card-body">
  <!-- {{ infoscluster | json }} -->
    <div class="row">
      <div class="col">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <div><i class="fa fa-server"></i> <b><u>Nom Cluster</u></b>: {{ infoscluster.cluster_name}}</div>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card text-white bg-{{ couleurSanteCluster }} mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <div><i class="fa fa-heart"></i> <b><u>Santé</u></b>: {{ infoscluster.status }}</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <div><i class="fa fa-home"></i> <b><u>Nombre de noeud</u></b>: {{ infoscluster.number_of_nodes }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="infosclusterAll">
    <div class="row">
      <div class="col">
        <div class="card-header text-center">
          <h3>OS System</h3>
        </div>
        <div class="card">
          {{ infosclusterAll['os'] | json }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card-header text-center">
          <h3>JVM</h3>
        </div>
        <div class="card">
          {{ infosclusterAll['jvm'] | json }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card-header text-center">
          <h3>ROLES</h3>
        </div>
        <div class="card">
          {{ infosclusterAll['roles'] | json }}
        </div>
      </div>
    </div>
  </div>
</div>
</div>