<!-- Début Modal pour la sélection des liste de champs à filtrer pour la Recherche -->
<!-- <div class="modal fade" id="ModalCenterForSelectFields" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Choisir votre liste de champs
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button 
          type="button" 
          class="btn btn-success" 
          data-dismiss="modal"
          (click) = "selectFieldForFilter();">Valider</button>
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-sm">
    <select id="index" class="custom-select form-control form-control-sm" (change)="selectBucket($event)">
      <option *ngFor="let li of listeBuckets" [value]="li.key">
        {{ li.value }}
      </option>
    </select>
  </div>

  <div class="col-sm" *ngIf="nameBucket === 'date_histogram' || nameBucket === 'date_range'">
    <select  
    class="custom-select form-control form-control-sm"
    (change)="selectFieldBucketsChoiceDate($event)">
      <option disabled>
        Champ Date
      </option>
      <option *ngFor="let field of listFieldDate" [value]="field">
        {{ field }}
      </option>
    </select>
  </div>

  <div class="col-sm" *ngIf="searchByDateHistogrammeRange">
    <div class="input-group">
      <input type="text"
        placeholder="Date Début et Fin"
        class="form-control form-control-sm"
        placement="bottom"
        (bsValueChange)="dateChangeFormated($event)"
        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-blue' }"
        bsDaterangepicker>
    </div>
  </div>

  <div class="col-sm" *ngIf="searchByHostogram">
    <select class="custom-select form-control form-control-sm"
          (change)="selectFieldBucketsChoiceForFilter($event)">
      <option disabled>
      Nom Champ
      </option>
      <option *ngFor="let field of listFieldNumber" [value]="field">
      {{ field }}
      </option>
    </select>
  </div>

  <div class="col-sm" *ngIf="searchByHostogram">
    <input type="number" class="form-control form-control-sm" placeholder="Minimal interval">
  </div>

  <div class="col-sm" *ngIf="nameBucket === 'date_range'">
    <select class="custom-select form-control form-control-sm"
            (change)="selectFieldBucketsChoiceForFilter($event)">
      <option disabled>
        Nom Champ
      </option>
      <option *ngFor="let field of listFieldNumber" [value]="field">
        {{ field }}
      </option>
      <!-- <option *ngFor="let field of listFieldDate" [value]="field">
        {{ field }}
      </option> -->
    </select>
  </div>
  <div class="col-sm" *ngIf="nameBucket === 'range_aggregation'">
    <select class="custom-select form-control form-control-sm"
            (change)="selectFieldBucketsChoice($event)">
      <option disabled>
        Nom Champ
      </option>
      <option *ngFor="let field of listFieldNumber" [value]="field">
        {{ field }}
      </option>
      <!-- <option *ngFor="let field of listFieldDate" [value]="field">
        {{ field }}
      </option> -->
    </select>
  </div>

  <div class="col-sm" *ngIf="nameBucket === 'range_aggregation' || nameBucket ==='date_range'">
    <select id="index" class="custom-select form-control form-control-sm" 
            (change)="selectTypeOfAggregationSwtich($event)">
      <option *ngFor="let aggrega of listeOperationsMetrics" [value]="aggrega.key">
        {{ aggrega.value }}
      </option>
    </select>
  </div>

  <div class="col-sm" *ngIf="searchByRange">
    <div class="input-group">
      <div class="input-group input-daterange">
        <div class="input-group-addon">De</div>
        <input type="number" [(ngModel)]="rangeValeurDe" class="form-control form-control-sm">
        <div class="input-group-addon"> à </div>
        <input type="number" [(ngModel)]="rangeValeurA"class="form-control form-control-sm">
      </div>
    </div>
  </div>

  <div class="col-sm" *ngIf="searchByDateHistogrammeAggregation">
    <select (change)="selectTypeDateFiltre($event)" class="custom-select form-control form-control-sm">
      <option value="" disabled>Intervale</option>
      <option value="year">Année</option>
      <option value="month">Mois</option>
      <option value="day">Jour</option>
    </select>
  </div>

  <div class="checkbox-inline col-sm" *ngIf="nameBucket === 'date_histogram'">
    <label>Tracer par {{ typeDateFiltre }}
      <input type="checkbox" [(ngModel)]="tracerParTypeInterval" (click)="selectTracerParTypeInterval();">
    </label>
  </div>

  <div *ngIf="tracerParTypeInterval" class="col-sm">
    Année Début <input type="number" [(ngModel)]="intervalDatehistogram.date_debut" class="col-sm form-control form-control-sm">
    Année Fin <input type="number" [(ngModel)]="intervalDatehistogram.date_fin" class="col-sm form-control form-control-sm">
  </div>
  <div class="col-sm" *ngIf="tracerParTypeInterval">
    <select class="custom-select form-control form-control-sm"
            (change)="selectFieldBucketsChoice($event)">
      <option disabled>
        Nom Champ
      </option>
      <option *ngFor="let field of listFieldNumber" [value]="field">
        {{ field }}
      </option>
      <!-- <option *ngFor="let field of listFieldDate" [value]="field">
        {{ field }}
      </option> -->
    </select>
  </div>
  <div class="col-sm" *ngIf="tracerParTypeInterval">
    <select id="index" class="custom-select form-control form-control-sm" 
            (change)="selectTypeOfAggregationSwtich($event)">
      <option *ngFor="let aggrega of listeOperationsMetrics" [value]="aggrega.key">
        {{ aggrega.value }}
      </option>
    </select>
  </div>
  <div class="col-sm">
    <span class="col-sm">
      <button class="btn btn-sm btn-primary"
          (click)="resultatAggregat(typeOfaggregationSwtich,nameBucket)">
          Filtrer <i class="fa fa-search-plus"></i>
        </button>
    </span>
    <span class="col-sm" *ngIf="hiddenButRemove === false">
      <button type="button" class="btn btn-sm btn-danger" (click)="removeBucketAggregat()">
        <i class="fa fa-remove"></i>
      </button>
    </span>
  </div>
  

</div>