<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">
          <h5><i class="fa fa-user-plus"> Créer un nouveau utilisateur</i></h5>
        </div>
        <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
              <div class="form-group row">
                <label for="inputPrenom" class="col-sm-3 col-form-label">Prénom</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputPrenom" placeholder="Prénom"
                    formControlName="prenom">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputNom" class="col-sm-3 col-form-label">Nom</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputNom" placeholder="Nom"
                    formControlName="nom">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputNom" class="col-sm-3 col-form-label">Roles</label>
                <div class="col-sm-8">
                    <select class="form-control" name="role" id="role" formControlName="role">
                      <option value="">Selectionner Role</option>
                      <option value="superuser">Administrateur</option>
                      <option value="kibana_system">Utilisateur Simple</option>
                    </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="Edit" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-8">
                  <input type="email" class="form-control" id="Edit" placeholder="Email"
                    formControlName="email">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Mot de passe</label>
                <div class="col-sm-8">
                  <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                    formControlName="motdepasse">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-8">
                  <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">
                    Enregistrer
                  </button>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
    <div class="card">
      <div class="card-header">
        <div class="input-group">
          <div class="col-md-6 ">
            <input type="text" 
              class="form-control float-right" 
              placeholder="Rechercher un utilisateur" 
              name="search"
              [(ngModel)]="searchString"/>
          </div>
          <div class="col-md-2">
            <a role="button" class="btn btn-primary" [routerLink]="['/dashboards']" routerLinkActive="active">
              <i class="fa fa-search-plus"></i> 
              <span>Rechercher</span>
            </a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-sm table-striped">
            <tr>
              <th>Nom Utilisateur</th>
              <th>Email</th>
              <th>Role(s)</th>
              <th>Nom Complet</th>
              <th>Actif</th>
            </tr>
            <tr *ngFor="let item of listeChamp">
              <td> {{ item.username }}</td>
              <td> {{ item.email }}</td>
              <td> {{ item.roles }}</td>
              <td> {{ item.full_name }}</td>
              <td>
                <label class="switch" *ngIf="item.enabled">
                  <input type="checkbox" (click)="enabledUser(item.username)" checked>
                  <span class="slider round"></span>
                </label>
                <label class="switch" *ngIf="!item.enabled">
                  <input type="checkbox" (click)="enabledUser(item.username)">
                  <span class="slider round"></span>
                </label>
              </td>
              <td>
                <button class="btn btn-danger" (click)="removeUser(item.username);"><i class="fa fa-trash-o"></i></button>
              </td>
              <td>
                <button class="btn btn-info"><i class="fa fa-edit"></i></button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>