<ul class="navbar-nav side-nav bg-dark">
  <!-- <li class="nav-item">
    <a class="nav-link" [routerLink]="['/accueil']" routerLinkActive="active" [routerLinkActiveOptions] = "{exact: true}">
      <i class="fa fa-home"></i>
      <span>Accueil</span>
    </a>
  </li> -->
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/exploration']" routerLinkActive="active">
      <i class="fa fa-th"></i> 
      <span>{{ 'menu.exploration' | translate }}</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/visualisation']" routerLinkActive="active">
      <i class="fa fa-area-chart"></i> 
      <span>{{ 'menu.visualisation' | translate}}</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/dashboards']" routerLinkActive="active">
      <i class="fa fa-bar-chart"></i> 
      <span>{{ 'menu.tableauDeBord' | translate}}</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/console']" routerLinkActive="active">
      <i class="fa fa-credit-card"></i> 
      <span>{{ 'menu.console' | translate}}</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/parametres']" routerLinkActive="active">
      <i class="fa fa-cogs"></i> 
      <span>{{ 'menu.parametres' | translate}}</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/creerutilisateur']" routerLinkActive="active">
      <i class="fa fa-user-plus"></i> 
      <span>{{ 'menu.creerutilisateur' | translate}}</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/infoscluster']" routerLinkActive="active">
      <i class="fa fa-info-circle"></i> 
      <span>{{ 'menu.informations' | translate}}</span>
    </a>
  </li>
</ul>