<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Infos Index</a>
    <!-- <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Infos</a> -->
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Parametres avancés</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="card">
      <div class="card-body">
        <div class="form-row">
          <div class="col">
            <select class="custom-select"
              (change)="selectionIndex($event)">
              <option value="nom_index">
                Nom index
              </option>
              <option 
                value="{{index.index}}" 
                *ngFor="let index of listeIndex">{{ index.index }}
              </option>
            </select>
          </div>
          <div class="col">
            <div class="btn-group mr-4">
              <button [disabled]="!buttonDisabledSetIndex"
              class="btn btn-xd btn-outline-success" id="btnSetIndex"
              (click)="definirIndexPardefaut()">
                <i class="fa fa-star"></i>
              </button>
             <!-- <button [disabled]="!buttonDisabledSetIndex"
              class="btn btn-xd btn-outline-danger" id="btnSetIndex" (click)="removeIndex()">
                <i class="fa fa-remove"></i>
              </button> -->
              <button 
                type="button" 
                [disabled]="!buttonDisabledSetIndex"
                class="btn btn-xd btn-outline-info" id="btnSetIndex"
                (click)="getStatIndex()">
                <i class="fa fa-file-text"></i>
              </button>
            </div>
          </div>
        </div>
        <hr>
        <div *ngIf="statIndex">
          <div class="d-flex bd-highlight rounded-left" style="border-left: 6px solid green;border-bottom: 0.5px solid #F1F1F1;border-top: 0.5px solid #F1F1F1">
            <div class="p-2 w-100 bd-highlight">Size in bytes</div><div class="p-2 w-100 bd-highlight"> <b>{{ statIndex.store.size_in_bytes }}</b></div>
          </div>
          <div class="d-flex bd-highlight rounded-left" style="border-left: 6px solid green;border-bottom: 0.5px solid #F1F1F1;border-top: 0.5px solid #F1F1F1">
            <div class="p-2 w-100 bd-highlight">Docs Count</div><div class="p-2 w-100 bd-highlight"> <b>{{ statIndex.docs.count }}</b></div>
          </div>
          
          <div class="d-flex bd-highlight rounded-left" style="border-left: 6px solid green;border-bottom: 0.5px solid #F1F1F1;border-top: 0.5px solid #F1F1F1">
            <div class="p-2 w-100 bd-highlight">Docs deleted</div><div class="p-2 w-100 bd-highlight"> <b>{{ statIndex.docs.deleted }}</b></div>
          </div>
          
          <div class="d-flex bd-highlight rounded-left" style="border-left: 6px solid green;border-bottom: 0.5px solid #F1F1F1;border-top: 0.5px solid #F1F1F1">
            <div class="p-2 w-100 bd-highlight">Request Cache Memory size in Bytes</div><div class="p-2 w-100 bd-highlight"> <b>{{ statIndex.request_cache.memory_size_in_bytes }}</b></div>
          </div>
          
          <div class="d-flex bd-highlight rounded-left" style="border-left: 6px solid green;border-bottom: 0.5px solid #F1F1F1;border-top: 0.5px solid #F1F1F1">
            <div class="p-2 w-100 bd-highlight">Request Cache Count</div><div class="p-2 w-100 bd-highlight"> <b>{{ statIndex.request_cache.hit_count }}</b></div>
          </div>
          
          <div class="d-flex bd-highlight rounded-left" style="border-left: 6px solid green;border-bottom: 0.5px solid #F1F1F1;border-top: 0.5px solid #F1F1F1">
            <div class="p-2 w-100 bd-highlight">Refresh Listeners </div><div class="p-2 w-100 bd-highlight"> <b>{{ statIndex.refresh.listeners }}</b></div>
          </div>

          <div class="d-flex bd-highlight rounded-left" style="border-left: 6px solid green;border-bottom: 0.5px solid #F1F1F1;border-top: 0.5px solid #F1F1F1">
            <div class="p-2 w-100 bd-highlight">Search Fetch time in millis </div><div class="p-2 w-100 bd-highlight"> <b>{{ statIndex.refresh.listeners }}</b></div>
          </div>

          <div class="d-flex bd-highlight rounded-left" style="border-left: 6px solid green;border-bottom: 0.5px solid #F1F1F1;border-top: 0.5px solid #F1F1F1">
            <div class="p-2 w-100 bd-highlight">Search Fetch total </div><div class="p-2 w-100 bd-highlight"> <b>{{ statIndex.refresh.listeners }}</b></div>
          </div>

          <div class="d-flex bd-highlight rounded-left" style="border-left: 6px solid green;border-bottom: 0.5px solid #F1F1F1;border-top: 0.5px solid #F1F1F1">
            <div class="p-2 w-100 bd-highlight">Search Fetch query time in millis </div><div class="p-2 w-100 bd-highlight"> <b>{{ statIndex.refresh.listeners }}</b></div>
          </div>

          <div class="d-flex bd-highlight rounded-left" style="border-left: 6px solid green;border-bottom: 0.5px solid #F1F1F1;border-top: 0.5px solid #F1F1F1">
            <div class="p-2 w-100 bd-highlight">Search Fetch query total</div><div class="p-2 w-100 bd-highlight"> <b>{{ statIndex.refresh.listeners }}</b></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="card">
      <div class="d-flex flex-column" *ngFor="let setting of listeSetting">
        <ul class="list-group list-group-flush">
          <li style="border-right: 1px dashed blue;" class="list-group-item">Nombre de document : {{ setting.index.create_date }}</li>
          <li class="list-group-item">Nombre de partitions : {{ setting.index.number_of_shards }}</li>
          <li class="list-group-item">Nombre de réplicat : {{ setting.index.number_of_replicas }}</li>
          <li class="list-group-item">Nom de l'index : {{ setting.index.provided_name }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    <div class="card">
      parametres avancé
    </div>
  </div>
</div>