<div class="card">
  <div class="card-body">
    <div class="card text-center">
      <div class="card-header">
        <h3>{{ 'menu.tableauDeBord' | translate}}</h3>
      </div>
      <div class="card-body" *ngIf="listeDashBoard?.length === 0; else listeDashBoardTemplate">
        <h5 class="card-title">
          {{ 'page.dashboard.message_dashboard_vide' | translate}}
        </h5>
        {{ listeDashBoard | json }}
        <a data-dismiss="modal" role="button" routerLinkActive="active" class="btn btn-primary"
          [routerLink]="['/visualisation']"
          [queryParams] = "{ showCollapse : 'true' }"
          role="button" 
          class="btn btn-primary btn-sm">
          <i class="fa fa-plus-square"><b> {{ 'page.dashboard.creer_tableau_de_bord' | translate }}</b></i>
        </a>
        <ng-template #listeDashBoardTemplate>zrzerze
          <div class="container">
            <div class="row">
              <gridster [options]="options">
                <gridster-item [item]="item" *ngFor="let item of listeDashBoard;let i = index">
                  <div class="item-container">
                    <div class="item-mock">
                      <h4>item {{ i }}</h4>
                    </div>
                  </div>
                </gridster-item>
              </gridster>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>