<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<h5 class="card-header text-center">Explorer et Visualiser les données</h5>
					<div class="card-body">
							<div class="row">
								<div class="col-md-6">
										<a [routerLink]="['/exploration']" class="card-link">
											<div class="card bg-light mb-3" style="max-width: 18rem;">
												<div class="card-header text-center">
													<i class="fa fa-th" style="font-size:30px; color: #296CED"></i>
												</div>
												<div class="card-body text-primary">										
													<h5 class="card-title">Exploration</h5>	
													<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
												</div>
											</div>
										</a>
								</div>
								<div class="col-md-6">
									<a [routerLink]="['/dashboard']" class="card-link">
									<div class="card bg-light mb-3" style="max-width: 18rem;">
										<div class="card-header text-center">
											<i class="fa fa-bar-chart" style="font-size:30px; color: #296CED"></i>
										</div>
										<div class="card-body text-primary">
											<h5 class="card-title">Tableau de bord</h5>
											<p class="card-text">
												Intégration de tableau de bord, Export au format
												.csv Exportez les résultats de vos recherches ad-hoc au format.
											</p>
										</div>
									</div>
								</a>
								</div>
								<div class="col-md-6">
									<a [routerLink]="['/visualisation']" class="card-link">
										<div class="card bg-light mb-3" style="max-width: 18rem;">
											<div class="card-header text-center">
												<i class="fa fa-home" style="font-size:30px; color: #296CED"></i>
											</div>
											<div class="card-body text-primary">
												<h5 class="card-title">Visualisation</h5>
												<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
											</div>
										</div>
									</a>
								</div>
							</div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card">
					<h5 class="card-header text-center">Gerer et Administrer des données</h5>
					<div class="card-body">
						<!-- <h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a> -->
						<div class="row">
							<div class="col-md-6">
								<a [routerLink]="['/console']" class="card-link">
									<div class="card bg-light mb-3" style="max-width: 18rem;">
										<div class="card-header text-center">
											<i class="fa fa-credit-card" style="font-size:30px; color: #296CED"></i>
										</div>
										<div class="card-body text-primary">
											<h5 class="card-title">Console</h5>
											<p class="card-text">
												La console permet aux développeurs d'interagir avec ElasticSearch.
												Console évite l'utilisation de curl ou la nécessité de bidouiller vos données	
											</p>
										</div>
									</div>
								</a>
							</div>
							<div class="col-md-6">
								<a [routerLink]="['/parametres']" class="card-link">
									<div class="card bg-light mb-3" style="max-width: 18rem;">
										<div class="card-header text-center">
											<i class="fa fa-cogs" style="font-size:30px; color: #296CED"></i>
										</div>
										<div class="card-body text-primary">
											<h5 class="card-title">Parametres</h5>
											<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
										</div>
									</div>
								</a>
							</div>
							<div class="col-md-6">
								<a [routerLink]="['/infoscluster']" class="card-link">
									<div class="card bg-light mb-3" style="max-width: 18rem;">
										<div class="card-header text-center">
											<i class="fa fa-info-circle" style="font-size:30px; color: #296CED"></i>
										</div>
										<div class="card-body text-primary">
											<h5 class="card-title">Informations</h5>
											<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>